<div class="input-container">
  <form class="input-form" [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        [formControl]="emailControl"
        required
      >
      <mat-error *ngIf="emailControl?.invalid">{{emailControlErrorText}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        [formControl]="passwordControl"
        required
      >
      <button
       mat-icon-button
       matSuffix
       (click)="hidePassword = !hidePassword"
       [attr.aria-label]="'Hide password'"
       [attr.aria-pressed]="hidePassword"

      >
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordControl?.invalid">A password is required!</mat-error>
    </mat-form-field>
    <button
      class="submit-button"
      mat-raised-button
      (click)="submit()"
    >Login</button>
  </form>
</div>
